/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  font-size: 36px;
  font-family: bree serif;
  font-weight: bold;
  color: #1e293b;
  margin-top: 30px;
}

.input-container {
  background-color: transparent;
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #dfe2e5;
}

.input-ele {
  outline: none;
  color: #7b8794;
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 15px;
  flex-grow:1;
}

.icon-img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-left: -30px;
  list-style-type: none;
}

.apps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}
